# ===== Java =====
*.class
target/
build/
.gradle/
*.jar
*.war

# ===== Logs =====
*.log
hs_err_pid*
replay_pid*

# ===== Frontend (Node/React) =====
node_modules/
dist/
dist-ssr/
.env

# ===== IDE =====
.idea/
*.iml
.vscode/

# ===== OS =====
.DS_Store

# ===== Archives =====
*.zip
*.tar.gz
*.rar